
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400..700&family=Pacifico&display=swap');

:root {
  --border-color: #FF4040;
  --checkbox-size: 1rem;
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%; /* Asegúrate de que el body también cubra toda la altura */
    background: url('/img/Portada2.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor {
    width: 100%;
    max-width: 960px;   
    margin: 20px;    
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.txtNuevaTarea {
    display: flex;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    justify-content:center;
}

#txtNuevaTarea {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); 
    font-size: 20px;
}

input:focus {
    outline: none;
}

.Titulo {
    
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-align: center;   
    width: 100%;
    font-family: 'Pacifico';
    display: flex;
}

span{

    font-family: 'Montserrat';
}



.row{
    display: flex;
    width: 100%;
}

.todo-list-container {
    position: relative;
    width: 100%;
    background: white;
    padding: 21px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    height: 56%;
    text-align: center;
    margin: auto;
    top: -20%;
    max-height: calc(100vh - 100px);
}


.todo-task {
   
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    align-items: center;
    margin: auto;
}

.todo-task input[type="checkbox"] {
        margin-right: 1rem;
        margin-top: 0;
        accent-color: #8E44AD;
        width: 1rem;
        height: 1rem;
}


/*Botón borrar*/

    .btn-delete {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.5s ease;
        background-color: transparent;
        border: none;
    }

    .todo-task:hover .btn-delete {
        visibility: visible;
        opacity: 1;
    }

    .todo-task .btn-delete:hover .fa-trash {
        color: #8E44AD;
    }

    .todo-task .btn-delete .fa-trash {
        color: #8E44AD;
    }    

/*Tachar texto*/

.form-check-input:checked + .todo-title {
    text-decoration: line-through;
    text-decoration-color: #8E44AD; /* Color morado para la línea del tachado */
    text-decoration-thickness: 1.5px; /* Grosor de la línea del tachado */
    margin-left: 0.5rem;
}

.todo-title {
    background-color: rgba(255, 255, 255, 0); /* transparente */
    /* o si deseas la misma transparencia que el contenedor */
    background-color: rgba(255, 255, 255, 0.5); /* ajusta la transparencia como desees */
    /* Resto de tus estilos... */
}

.footer {
    position: sticky; /* Esto es lo que mantiene el div abajo */
    bottom: 0; /* Alinea el div a la parte inferior del contenedor */
    background-color: white; /* O cualquier color de fondo que prefieras */
    padding: 10px;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.2); /* Opcional: agrega una sombra para diferenciar el pie de página del resto del contenido de la lista si lo deseas */
    z-index: 10;
}

